@font-face {
  font-family: "Tajawal";
  src: url(../fonts/Tajawal.ttf);
}
/* Variables */
:root {
  --primary: #1d5166; /* Custom primary color */
  --secondary: #28b6be; /* Custom secondary color */
  --third-color: #016b85; /* Custom third color */
  --green-color: #7cc242;
  --gray-bg: #f0f1f3; /* Custom gray background color */
  --placeholder: #afafaf; /* Custom placeholder color */
  --black: #000000;
  --white: #ffffff;
  --primary-light: #f3f8f9;
  --body-bg: #f0f1f3;
  --gray-text: #afafaf;
  --dark-gray-text: #5d5d5d;
  --main-padding-inline: clamp(10px, 1.5vw, 50px);
  --input-height: 40px;
  --box-shadow: 4px 4px 25px rgb(167, 167, 167);
  --border-raduis: 8px;
  --border-color: #d5d7da;
}
body {
  font-family: "Tajawal", sans-serif;
  font-weight: normal;
  min-width: 400px;
  max-width: 1600px;
  margin: auto;
  min-height: 100vh;
  font-size: 14px;
  background-color: var(--body-bg);
  color: var(--black-color);
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
  height: 0;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
  border-radius: 0px;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}
a,
button,
img,
input {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.custom-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.custom-btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}
.custom-h,
.custom-p {
  padding: 0;
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
html[dir="rtl"] [type="email"],
html[dir="rtl"] [type="number"],
html[dir="rtl"] [type="tel"],
html[dir="rtl"] [type="url"] {
  direction: rtl;
}
hr {
  border-color: #d0d4d4;
}
a {
  text-decoration: none;
}
:focus-visible {
  outline: none !important;
}
