// Icons
// -------------------------

.schoolna-adm-year-level-seats-icon:before,
.schoolna-att-attendance-icon:before,
.schoolna-att-homeroom-attendance:before,
.schoolna-att-report-icon:before,
.schoolna-bil-academic-years:before,
.schoolna-bil-accepted-admission:before,
.schoolna-bil-funding-organizations:before,
.schoolna-bil-report-icon:before,
.schoolna-bil-staff-payment:before,
.schoolna-dis-action-icon:before,
.schoolna-dis-incidents-icons:before,
.schoolna-dis-locations-icon:before,
.schoolna-dis-penalties-icon:before,
.schoolna-dis-report-icon:before,
.schoolna-dis-violation-categories:before,
.schoolna-dis-violation-icon:before,
.schoolna-gra-columns:before,
.schoolna-gra-factor:before,
.schoolna-gra-gradebook-grades-setup:before,
.schoolna-gra-grade-books:before,
.schoolna-gra-guidebook-reports:before,
.schoolna-gra-marking-periods:before,
.schoolna-gra-weekly-plans:before,
.schoolna-lib-book-checkout:before,
.schoolna-lib-book-formats:before,
.schoolna-lib-books:before,
.schoolna-lib-books-catalogs:before,
.schoolna-lib-book-setting:before,
.schoolna-lib-books-subjects:before,
.schoolna-lib-memberships:before,
.schoolna-lib-staff-settings:before,
.schoolna-mer-merits:before,
.schoolna-mer-merits-reasons:before,
.schoolna-mer-merits-reports:before,
.schoolna-reg-biifurcation-stuents:before,
.schoolna-reg-enrolled-students:before,
.schoolna-reg-familied-icon:before,
.schoolna-reg-regisreation-report:before,
.schoolna-reg-registered-student:before,
.schoolna-sch-calender-svg:before,
.schoolna-sch-report-icon:before,
.schoolna-sch-time-tables:before,
.schoolna-set-areas-icon:before,
.schoolna-set-birth-placess:before,
.schoolna-set-blocks-icon:before,
.schoolna-set-buildings-icon:before,
.schoolna-set-calendar-icon:before,
.schoolna-set-chronic-diseases:before,
.schoolna-set-classes-icon:before,
.schoolna-set-classess-rooms:before,
.schoolna-set-disability-types:before,
.schoolna-set-districs-icon:before,
.schoolna-set-external-school:before,
.schoolna-set-hod-leaders:before,
.schoolna-set-holiday-icon:before,
.schoolna-set-nationalities-icon:before,
.schoolna-set-passport-types:before,
.schoolna-set-previous-schools:before,
.schoolna-set-print-bulk:before,
.schoolna-set-relation-statuses:before,
.schoolna-set-relative-relations:before,
.schoolna-set-religions-icon:before,
.schoolna-set-school-info:before,
.schoolna-set-stages-icon:before,
.schoolna-set-streets-icon:before,
.schoolna-set-students-groups:before,
.schoolna-set-sub-class:before,
.schoolna-set-subjects-icon:before,
.schoolna-set-system-logs:before,
.schoolna-set-teacers-icon:before,
.schoolna-set-years-levels:before,
.schoolna-set-zatca-setting:before,
.schoolna-sid-admission-icon:before,
.schoolna-sid-announcment-icon:before,
.schoolna-sid-attendance-icon:before,
.schoolna-sid-billing-icon:before,
.schoolna-sid-complaints-icon:before,
.schoolna-sid-disclipline-icon:before,
.schoolna-sid-grade-book:before,
.schoolna-sid-home-icon:before,
.schoolna-sid-home-svg:before,
.schoolna-sid-letters-icon:before,
.schoolna-sid-library-icon:before,
.schoolna-sid-merits-icon:before,
.schoolna-sid-notification-icon:before,
.schoolna-sid-parant-meeting:before,
.schoolna-sid-registration-icon:before,
.schoolna-sid-scheduling-icon:before,
.schoolna-sid-setiing-icon:before,
.schoolna-sid-transportation-icon:before,
.schoolna-sid-users-icon:before,
.schoolna-tran-bus-attendance:before,
.schoolna-tran-bus-comments:before,
.schoolna-tran-buses:before,
.schoolna-tran-bus-registrations:before,
.schoolna-tran-bus-registrations-groups:before,
.schoolna-tran-bus-size:before,
.schoolna-tran-bus-student:before,
.schoolna-tran-bus-type:before,
.schoolna-tran-discipline:before,
.schoolna-tran-parents-pickup-requests:before,
.schoolna-tran-printing:before,
.schoolna-tran-routes:before,
.schoolna-tran-stop-type:before,
.schoolna-tran-student-transfers:before,
.schoolna-tran-trips-request:before,
.schoolna-tran-trips:before,
.schoolna-adm-admission-report-icon:before,
.schoolna-adm-admission-users-icon:before,
.schoolna-adm-interviews-results-icon:before,
.schoolna-adm-new-students-report-icon:before,
.schoolna-adm-required-papers-icon:before,
.schoolna-adm-school-age-criteria-icon:before,
.schoolna-adm-tests-icon:before,
.schoolna-adm-tests-requests-icon:before,
.schoolna-adm-waiting-list-icon:before,
[data-icons8]:before {
  @include icons8-font;
}

[data-icons8]:before {
  content: attr(data-icons8);
}

.schoolna-adm-year-level-seats-icon:before {
  content: $icons8-var-adm-year-level-seats-icon;
}
.schoolna-att-attendance-icon:before {
  content: $icons8-var-att-attendance-icon;
}
.schoolna-att-homeroom-attendance:before {
  content: $icons8-var-att-homeroom-attendance;
}
.schoolna-att-report-icon:before {
  content: $icons8-var-att-report-icon;
}
.schoolna-bil-academic-years:before {
  content: $icons8-var-bil-academic-years;
}
.schoolna-bil-accepted-admission:before {
  content: $icons8-var-bil-accepted-admission;
}
.schoolna-bil-funding-organizations:before {
  content: $icons8-var-bil-funding-organizations;
}
.schoolna-bil-report-icon:before {
  content: $icons8-var-bil-report-icon;
}
.schoolna-bil-staff-payment:before {
  content: $icons8-var-bil-staff-payment;
}
.schoolna-dis-action-icon:before {
  content: $icons8-var-dis-action-icon;
}
.schoolna-dis-incidents-icons:before {
  content: $icons8-var-dis-incidents-icons;
}
.schoolna-dis-locations-icon:before {
  content: $icons8-var-dis-locations-icon;
}
.schoolna-dis-penalties-icon:before {
  content: $icons8-var-dis-penalties-icon;
}
.schoolna-dis-report-icon:before {
  content: $icons8-var-dis-report-icon;
}
.schoolna-dis-violation-categories:before {
  content: $icons8-var-dis-violation-categories;
}
.schoolna-dis-violation-icon:before {
  content: $icons8-var-dis-violation-icon;
}
.schoolna-gra-columns:before {
  content: $icons8-var-gra-columns;
}
.schoolna-gra-factor:before {
  content: $icons8-var-gra-factor;
}
.schoolna-gra-gradebook-grades-setup:before {
  content: $icons8-var-gra-gradebook-grades-setup;
}
.schoolna-gra-grade-books:before {
  content: $icons8-var-gra-grade-books;
}
.schoolna-gra-guidebook-reports:before {
  content: $icons8-var-gra-guidebook-reports;
}
.schoolna-gra-marking-periods:before {
  content: $icons8-var-gra-marking-periods;
}
.schoolna-gra-weekly-plans:before {
  content: $icons8-var-gra-weekly-plans;
}
.schoolna-lib-book-checkout:before {
  content: $icons8-var-lib-book-checkout;
}
.schoolna-lib-book-formats:before {
  content: $icons8-var-lib-book-formats;
}
.schoolna-lib-books:before {
  content: $icons8-var-lib-books;
}
.schoolna-lib-books-catalogs:before {
  content: $icons8-var-lib-books-catalogs;
}
.schoolna-lib-book-setting:before {
  content: $icons8-var-lib-book-setting;
}
.schoolna-lib-books-subjects:before {
  content: $icons8-var-lib-books-subjects;
}
.schoolna-lib-memberships:before {
  content: $icons8-var-lib-memberships;
}
.schoolna-lib-staff-settings:before {
  content: $icons8-var-lib-staff-settings;
}
.schoolna-mer-merits:before {
  content: $icons8-var-mer-merits;
}
.schoolna-mer-merits-reasons:before {
  content: $icons8-var-mer-merits-reasons;
}
.schoolna-mer-merits-reports:before {
  content: $icons8-var-mer-merits-reports;
}
.schoolna-reg-biifurcation-stuents:before {
  content: $icons8-var-reg-biifurcation-stuents;
}
.schoolna-reg-enrolled-students:before {
  content: $icons8-var-reg-enrolled-students;
}
.schoolna-reg-familied-icon:before {
  content: $icons8-var-reg-familied-icon;
}
.schoolna-reg-regisreation-report:before {
  content: $icons8-var-reg-regisreation-report;
}
.schoolna-reg-registered-student:before {
  content: $icons8-var-reg-registered-student;
}
.schoolna-sch-calender-svg:before {
  content: $icons8-var-sch-calender-svg;
}
.schoolna-sch-report-icon:before {
  content: $icons8-var-sch-report-icon;
}
.schoolna-sch-time-tables:before {
  content: $icons8-var-sch-time-tables;
}
.schoolna-set-areas-icon:before {
  content: $icons8-var-set-areas-icon;
}
.schoolna-set-birth-placess:before {
  content: $icons8-var-set-birth-placess;
}
.schoolna-set-blocks-icon:before {
  content: $icons8-var-set-blocks-icon;
}
.schoolna-set-buildings-icon:before {
  content: $icons8-var-set-buildings-icon;
}
.schoolna-set-calendar-icon:before {
  content: $icons8-var-set-calendar-icon;
}
.schoolna-set-chronic-diseases:before {
  content: $icons8-var-set-chronic-diseases;
}
.schoolna-set-classes-icon:before {
  content: $icons8-var-set-classes-icon;
}
.schoolna-set-classess-rooms:before {
  content: $icons8-var-set-classess-rooms;
}
.schoolna-set-disability-types:before {
  content: $icons8-var-set-disability-types;
}
.schoolna-set-districs-icon:before {
  content: $icons8-var-set-districs-icon;
}
.schoolna-set-external-school:before {
  content: $icons8-var-set-external-school;
}
.schoolna-set-hod-leaders:before {
  content: $icons8-var-set-hod-leaders;
}
.schoolna-set-holiday-icon:before {
  content: $icons8-var-set-holiday-icon;
}
.schoolna-set-nationalities-icon:before {
  content: $icons8-var-set-nationalities-icon;
}
.schoolna-set-passport-types:before {
  content: $icons8-var-set-passport-types;
}
.schoolna-set-previous-schools:before {
  content: $icons8-var-set-previous-schools;
}
.schoolna-set-print-bulk:before {
  content: $icons8-var-set-print-bulk;
}
.schoolna-set-relation-statuses:before {
  content: $icons8-var-set-relation-statuses;
}
.schoolna-set-relative-relations:before {
  content: $icons8-var-set-relative-relations;
}
.schoolna-set-religions-icon:before {
  content: $icons8-var-set-religions-icon;
}
.schoolna-set-school-info:before {
  content: $icons8-var-set-school-info;
}
.schoolna-set-stages-icon:before {
  content: $icons8-var-set-stages-icon;
}
.schoolna-set-streets-icon:before {
  content: $icons8-var-set-streets-icon;
}
.schoolna-set-students-groups:before {
  content: $icons8-var-set-students-groups;
}
.schoolna-set-sub-class:before {
  content: $icons8-var-set-sub-class;
}
.schoolna-set-subjects-icon:before {
  content: $icons8-var-set-subjects-icon;
}
.schoolna-set-system-logs:before {
  content: $icons8-var-set-system-logs;
}
.schoolna-set-teacers-icon:before {
  content: $icons8-var-set-teacers-icon;
}
.schoolna-set-years-levels:before {
  content: $icons8-var-set-years-levels;
}
.schoolna-set-zatca-setting:before {
  content: $icons8-var-set-zatca-setting;
}
.schoolna-sid-admission-icon:before {
  content: $icons8-var-sid-admission-icon;
}
.schoolna-sid-announcment-icon:before {
  content: $icons8-var-sid-announcment-icon;
}
.schoolna-sid-attendance-icon:before {
  content: $icons8-var-sid-attendance-icon;
}
.schoolna-sid-billing-icon:before {
  content: $icons8-var-sid-billing-icon;
}
.schoolna-sid-complaints-icon:before {
  content: $icons8-var-sid-complaints-icon;
}
.schoolna-sid-disclipline-icon:before {
  content: $icons8-var-sid-disclipline-icon;
}
.schoolna-sid-grade-book:before {
  content: $icons8-var-sid-grade-book;
}
.schoolna-sid-home-icon:before {
  content: $icons8-var-sid-home-icon;
}
.schoolna-sid-home-svg:before {
  content: $icons8-var-sid-home-svg;
}
.schoolna-sid-letters-icon:before {
  content: $icons8-var-sid-letters-icon;
}
.schoolna-sid-library-icon:before {
  content: $icons8-var-sid-library-icon;
}
.schoolna-sid-merits-icon:before {
  content: $icons8-var-sid-merits-icon;
}
.schoolna-sid-notification-icon:before {
  content: $icons8-var-sid-notification-icon;
}
.schoolna-sid-parant-meeting:before {
  content: $icons8-var-sid-parant-meeting;
}
.schoolna-sid-registration-icon:before {
  content: $icons8-var-sid-registration-icon;
}
.schoolna-sid-scheduling-icon:before {
  content: $icons8-var-sid-scheduling-icon;
}
.schoolna-sid-setiing-icon:before {
  content: $icons8-var-sid-setiing-icon;
}
.schoolna-sid-transportation-icon:before {
  content: $icons8-var-sid-transportation-icon;
}
.schoolna-sid-users-icon:before {
  content: $icons8-var-sid-users-icon;
}
.schoolna-tran-bus-attendance:before {
  content: $icons8-var-tran-bus-attendance;
}
.schoolna-tran-bus-comments:before {
  content: $icons8-var-tran-bus-comments;
}
.schoolna-tran-buses:before {
  content: $icons8-var-tran-buses;
}
.schoolna-tran-bus-registrations:before {
  content: $icons8-var-tran-bus-registrations;
}
.schoolna-tran-bus-registrations-groups:before {
  content: $icons8-var-tran-bus-registrations-groups;
}
.schoolna-tran-bus-size:before {
  content: $icons8-var-tran-bus-size;
}
.schoolna-tran-bus-student:before {
  content: $icons8-var-tran-bus-student;
}
.schoolna-tran-bus-type:before {
  content: $icons8-var-tran-bus-type;
}
.schoolna-tran-discipline:before {
  content: $icons8-var-tran-discipline;
}
.schoolna-tran-parents-pickup-requests:before {
  content: $icons8-var-tran-parents-pickup-requests;
}
.schoolna-tran-printing:before {
  content: $icons8-var-tran-printing;
}
.schoolna-tran-routes:before {
  content: $icons8-var-tran-routes;
}
.schoolna-tran-stop-type:before {
  content: $icons8-var-tran-stop-type;
}
.schoolna-tran-student-transfers:before {
  content: $icons8-var-tran-student-transfers;
}
.schoolna-tran-trips-request:before {
  content: $icons8-var-tran-trips-request;
}
.schoolna-tran-trips:before {
  content: $icons8-var-tran-trips;
}
.schoolna-adm-admission-report-icon:before {
  content: $icons8-var-adm-admission-report-icon;
}
.schoolna-adm-admission-users-icon:before {
  content: $icons8-var-adm-admission-users-icon;
}
.schoolna-adm-interviews-results-icon:before {
  content: $icons8-var-adm-interviews-results-icon;
}
.schoolna-adm-new-students-report-icon:before {
  content: $icons8-var-adm-new-students-report-icon;
}
.schoolna-adm-required-papers-icon:before {
  content: $icons8-var-adm-required-papers-icon;
}
.schoolna-adm-school-age-criteria-icon:before {
  content: $icons8-var-adm-school-age-criteria-icon;
}
.schoolna-adm-tests-icon:before {
  content: $icons8-var-adm-tests-icon;
}
.schoolna-adm-tests-requests-icon:before {
  content: $icons8-var-adm-tests-requests-icon;
}
.schoolna-adm-waiting-list-icon:before {
  content: $icons8-var-adm-waiting-list-icon;
}
